.contacts__item {
  display: flex;
  width: 500px;
  height: 30px;
  font-size: 24px;
  margin-bottom: 1px;

  .contacts__name {
    margin: auto 0;
    display: block;
    width: 220px;
    font-weight: 800;
  }

  .contacts__number {
    margin: auto 0;
    width: 200px;
  }

  .removeButton {
    width: 30px;
    height: 30px;
    font-size: 25px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
  }
}
