.wrapper {
  height: 100vh;

  .container {
    margin: 0 auto;
    width: 500px;

    .header {
      display: flex;
      justify-content: space-between;
    }

    form {
      border: solid 2px black;

      h3 {
        margin-left: 15px;
      }

      input {
        margin-left: 15px;
        border: solid 1px gray;
      }

      .addButton {
        margin: 15px 0 15px 15px;
        display: block;
      }
    }

    .filter {
      h3 {
        margin-left: 15px;
      }
      input {
        margin-left: 15px;
        border: solid 1px gray;
      }
    }
  }
}
